* {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

a {
  color: black;
}


.profile-img {
  height: 150px;
  width: 150px;
  border-radius: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: block;
}

.icon-div {
  height:150px;
  width: 150px;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: block;
}

.text {
  margin: auto;
  text-align: center;
}

.project-img {
  height:150px;
  width: 150px;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: block;
}

svg {
  height: 3rem;
  width: 3rem;
  display: flex;
}

.icon-div {
  background-color: black;

}
/*-----------------------------------------------------------
---------------------- MEDIA QUERIES ------------------------
-----------------------------------------------------------*/

/*--------------------MOBILE------------------------*/
@media only screen and (min-width: 320px) {

.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: block;
}

.profile-name {
  font-family: 'Mate SC', serif;
  font-size: 2.5rem;
  color: #FFCC66;
}

.icon-div {
  height:150px;
  width: 150px;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color:  #FFCC66; /*gold*/
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-text {
  color: black;
  margin-top: auto;
  text-align: center;
}

.website-svg,
.code-svg {
  margin-top: 25px;
  height: 3rem;
  width: 3rem;

}

.text {
  margin: 30px;
  text-align: center;
}

.contact-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
  background-color: white;
}

.split-1 {
  border-top: 3px solid #FFCC66;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 20%;
  margin-left: 20%;
}

.split-2 {
  border-top: 3px solid #FFCC66;
  margin-bottom: 40px;
  margin-right: 10%;
  margin-left: 10%;
}

#about,
#skills,
#social {
  margin-bottom: -15px;
}


.skill-div {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color:  #FFCC66; /*gold*/
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.col {
  margin-bottom: 10px;
}

/*----------SOCIAL SVG---------------*/

.social-svg {
  height: 50px;
  width: 50px;
}


}

/*--------------------TABLET------------------------*/
@media only screen and (min-width: 768px) {

  .grid-container {
    display:flex;
    flex-wrap: wrap;
  }

  .col {
    width: 50%;
  }

  .profile-img {
    height: 300px;
    width: 300px;
    margin-top: 50px;
    border-radius: 360px;
  }

}

/*--------------------DESKTOP------------------------*/
@media only screen and (min-width: 1024px) {

  .col {
    width: 25%;
  }

}
